.adventures,
.photos {
  display: flex;
  align-items: center;
}

.adventures,
.adventure {
  margin: 0 10px;
}

.adventure-card-img {
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

// .photos,
// .photo {
//   margin: 0 10px;
// }

// .photo-card-img {
//   width: 90%;
//   object-fit: cover;
//   border-radius: 10px;
// }