.adventures,
.photos-carousel {
  display: flex;
  align-items: center;
  height: 100%;
}

.adventures,
.adventure {
  margin: 0 10px;
  padding: 0;
  height: 80%;
  justify-content: center;
}


.adventure-card-img {
  width: 80%;
  object-fit: cover;
  border-radius: 50px;
  border: 3px solid #EAEAEA;
  margin-top: 30px;
}

.photo-card-img {
  height: 100%;
  object-fit: cover;
}