* {
    color: #EAEAEA;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;

}

body {
    margin: 0;
    background-color: #2E2E2E;
}

//////////////////////////////
/// MODAL STYLING
//////////////////////////////
.modalDiv {
    width: 100vw;
    height: 130vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(91, 112, 131, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal {
    position: absolute;
    width: 40%;
    height: 55%;
    background-color: #EAEAEA;
    border-radius: 50px;
    border: 5px solid black;
    overflow: hidden;
    top: 50px;
}

.modal input,
.modal textarea {
    color: black;
}

.close-button {
    position: absolute;
    background-color: #db5e34;
    color: white;
    border-radius: 10px;
    top: -30px;
    right: -1px;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
}

.close-button:hover {
    background-color: #ff0000;
}

.navbar {
    background-color: #242424;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    border-bottom: 1px solid white;
    border-top: 5px solid white;
    margin-bottom: 10px;
}


.navbar ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem;
}

a {
    cursor: pointer;
}

.photosDiv {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 20px;
    overflow: hidden;
}

.homeContent {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 10px;
    height: 60vh;
    width: 100vw;
}

.homeContent>div {
    flex: 1;
    border: 5px solid #EAEAEA;
    border-radius: 50px;
    box-sizing: border-box;
    // padding: 2px;
    margin: 0 10px;
}

.homeContent>div:first-child {
    margin-left: 0;
    border-radius: 50px;
    max-width: 40vw;
}

.homeContent>div:last-child {
    margin-right: 0;
    border-radius: 50px;
}

.photo-carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    // border-radius: 50px;
    overflow: hidden;
    background-color: #454444;
}

.adventure-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    border-radius: 50px;
    background-color: #454444;
}

.adventure-list h2 {
    font-size: 2rem;
}

.adventure-list h3 {
    font-size: 2rem;
    color: #EAEAEA;
    margin: auto;
}

.adventure-list p {
    text-align: left;
    padding-left: 30px;
    font-size: 1.5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

.adventure-carousel {
    height: 50vh;
    border: 5px solid #EAEAEA;
    border-radius: 50px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #454444;
}

.advent-button {
    background-color: #3498db;
    color: white;
    padding: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.advent-button-left {
    margin-left: 30px;
}

.advent-button-delete {
    background-color: #db5e34;
}

.advent-button-delete:hover {
    background-color: #ff0000;
}

.advent-button-color {
    background-color: #41ab6d;

    &:hover {
        background-color: #27AE60;
    }
}

.site-title {
    animation: background-pan 4s linear infinite;
    margin: 0 ;
    font-size: 4rem;
    background: linear-gradient(to right,rgb(52, 211, 153),rgb(110, 231, 183), rgba(255, 255, 255, .9));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}