* {
    color: black;
    background-color: blanchedalmond;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.photosDiv {
    height: 60vh;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.photosDivImg {
    height: 100%;
}

.mapDiv {
    height: 30vh;
    margin: 10px;
}

.mapImg {
    height: 100%;
}



//////////////////////////////
/// MODAL STYLING
//////////////////////////////

.modalDiv {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(91, 112, 131, 0.4);
    backdrop-filter: blur(10px);    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal {
    position: absolute;
    width: 40%;
    height: 60%;
    background-color: white;
    border-radius: 5px;
  }

  .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    font-weight: bolder;
    font-size: 1rem;
  }